.c-button {
  display: inline-block;
  width: 200px;
  height: 54px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: #d0d6dc;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  color: color($primary);
  color: #314257;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    opacity: 0.6;
  }
}
